#root {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  width: "100vw";
  height: "100vh";
  overflow: "hidden"; 
}


#map {
  width: min(100vw, 1200px);   /* full width, capped at 1200px */
  height: min(100vh, 800px);   /* full height, capped at 800px */
  margin: 0 auto;              /* center horizontally when capped */
}

.loading {
  margin-left: 4%;
  margin-right: 4%;
}
